<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nome do Filme" aria-describedby="basic-addon2" #movieTitle>
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" placeholder="digite" (click)="searchMovie(movieTitle.value)">Pesquisar</button>
    </div>
  </div>
</div>

<div class="box">
  <div>
    <div *ngFor="let filme of filmSeachBar" class="innerbox">
      <h4><span class="movieName">{{filme.Title}}</span></h4>
      <img src="{{filme.Poster}}>" class="poster">
      <h4><span class="year">({{filme.Year}})</span></h4>
      <div class="description"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></div>
    </div> 
  </div>
</div>